{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="container my-5 border p-4 rounded">
    <h3 class="mb-3">Login To Music Player</h3>
    <form action="{% url 'account:login' %}" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputuser1" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="exampleInputuser1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}